<div class="container d-block bg-light">
  <br>
  <div class="row justify-content-center">
    <h1>Edit your booking date</h1>
  </div>
  <br>
  <div class="row d-block p-4">
    <%= simple_form_for [ @car, @booking ] do |f| %>
      <%= f.input :starting_date, as: :date %>
      <%= f.input :ending_date, as: :date %>
  </div>
  <div class="row justify-content-center">
      <%= f.submit "Submit a booking date", method: :update, class: "btn btn-gradient" %>
  </div>
  <br>
  <div class="row justify-content-center">
      <%= link_to 'Back to cars', cars_path, class: "btn btn-gradient" %>
  </div>
    <% end %>
  <br>
</div>
