<br>
<div class="container justify-content-center">
  <h1>Your Bookings</h1>
</div>
<br>
<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <% Booking.where(user_id: current_user).each do |booking| %>
        <div class="list-group-item">
          <h3 class="d-flex justify-content-center"><%= booking.car.model %></h3>
          <p class="d-flex justify-content-center">From: <%= booking.starting_date %>  To: <%= booking.ending_date %></p>
          <p class="d-flex justify-content-center"> Total ($): <%= ((booking.ending_date - booking.starting_date).to_f *  booking.car.price).round(2) %></p>
          <%= link_to "Delete date",
                      booking_path(booking),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: "btn btn-gradient" %>
          <%= link_to "Update",
                      edit_booking_path(booking),
                      data: { confirm: "Are you sure?" }, class: "btn btn-gradient" %>
          <%= link_to 'Back to cars', cars_path , class: "btn btn-gradient"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
