<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <%= image_tag "car-logo.png", alt: "app-logo", class: 'bg-transparent'%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%# <form class="form-inline my-2 my-lg-0">
            <%= render '/shared/search_form' %>
          <%# </form> %>
          <li class="nav-link">
            <%= link_to 'All Bookings', all_path%>
          </li>
          <li class="nav-link">
            <%= link_to 'New Cars', new_car_path %>
          </li>
          <li class="nav-link">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
          </li>
          <li>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/paulocarvalhoprcf" />
          </li>
        <% elsif Booking.where(user_id: current_user).first == nil %>
          <li class="nav-link">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to 'My Bookings', booking_path(Booking.where(user_id: current_user).last.id)%>
          </li>
          <li class="nav-link">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
          </li>
          <li>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/RogerE1968" />
          </li>
        <% end %>
      <% else %>
        <% if controller_name == 'sessions' || controller_name == 'registrations' %>
        <% else %>
          <li class="nav-link">
              <%= link_to 'Sign Up Here!', new_user_registration_path %>
          </li>
          <li class="nav-link">
              <%= link_to 'Login', user_session_path %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
