
<div><%= render 'shared/banner' %>
  <div class='container d-block'>
    <div class='form-inline' <%= render '/shared/search_form' %>></div>
    <h1 class="d-flex justify-content-center">Choose your sport car</h1>
    <br>
    <div class="cards">
      <% if @cars == "" %>
        <h1>"Sorry, <%= params[:query] %> is not available"</h1>
      <% else %>
        <% @cars.each do |car| %>
          <a class="card" href="cars/<%= car.id %>" style="background-image: url(<%= car.img_url %>)"></a>
        <% end %>
      <% end %>
    </div>
    <br>
    <p class="d-flex justify-content-center">
      <%= link_to 'Back to home', root_path, class: "btn btn-gradient" %>
    </p>
  </div>
</div>
