<div class="banner" id="car" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(<%=image_path 'mustang_home.jpg'%>);">
  <br>
  <div class='row justify-content-center'>
    <div class='form-inline' <%= render '/shared/search_form' %>></div>
  </div>
  <br>
  <h1 class="d-flex justify-content-center" id="cars">Choose your sport car</h1>
  <br>
    <% if @cars == "" %>
      <div class="row justify-content-center">
          <div class="alert alert-danger" role="alert">
            "Sorry, <%= params[:query] %> is not available"
          </div>
      </div>
    <% else %>
      <div class="d-flex ml-4 mr-4">
        <div class="cards">
            <% @cars.each do |car| %>
              <a class="card" href="cars/<%= car.id %>" style="background-image: url(<%= car.img_url %>)"></a>
            <% end %>
        </div>
      </div>
      <% end %>
    <br>
  <p class="d-flex justify-content-center">
    <%= link_to 'Back to home', root_path, class: "btn btn-gradient" %>
  </p>
</div>
