<br>
<div class="container">
  <div class="card-product">
    <img src=<%= @car.img_url %> />
    <div class="card-product-infos">
      <h2><%= @car.model %>, <%= @car.manufacturer %></h2>
      <p> Price/day: <strong>$ <%= @car.price %></strong> only.</p>
    </div>
  </div>
  <% if policy(Car).create? %>
    <%= link_to "Let's search for a date", new_car_booking_path(@car) %>
  <% end %>
  <%= link_to 'Back to cars', cars_path %>
</div>
<br>
